.App{
  display: flex;
  border: 1px solid black;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height:100vh;
  background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App .quote{
  
  background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow:5px -5px 5px 0px #769B7B;


}
button{
  padding:20px;
  margin-top: 2em;
  border-radius: 20px;
  font-weight: 800;
  text-decoration: none;
  background-color:whitesmoke;
}
